/* ==== Variables ==== */

:root {
  --color-green: #bbd2c5;
  --color-dark-green: #86abbe;
  --color-cta-green: #2e7d32;
}


/* Custom reset */

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

